* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .contact_container {
    padding: 30px 40px;
    width: 100%;
    background: #f6f6f6;
  }
  
  .contact_container .contant {
    padding: 10px 20px;
    max-width: 100%;
  }
  
  .contact_container .contant h2 {
    text-transform: uppercase;
    font-size: 32px;
    color: #010f1c;
    font-weight: 200;
    text-align: center;
  }
  
  .contact_container .contant .form {
    margin-top: 30px;
    padding: 20px 30px;
    background: #fff;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  
  .contact_container .contant .form form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .contact_container .contant .form form input {
    padding: 10px 20px;
    border: none;
    outline: none;
    border-bottom: 1px solid #010f1c;
    background: none;
    width: 70%;
    margin-top: 20px;
  }
  
  .contact_container .contant .form form textarea {
    padding: 10px 20px;
    border: none;
    outline: none;
    border-bottom: 1px solid #010f1c;
    background: none;
    width: 70%;
    margin-top: 20px;
    resize: none;
    height: 100px;
  }
  
  .contact_container .contant .form form button {
    margin-top: 25px;
    padding: 12px 30px;
    background-color: #010f1c;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    
  }
  
  .contact_container .contant .form form button:hover {
    background-color: #333;
  }
  